<!DOCTYPE html>
<html>
    <head>
        <title>TV Shows</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <style type="text/css">
            #footnote {
                text-align: center;
                margin-top: 10%;
                margin-bottom: 3%;
            }
        </style>
    </head>

    <body>


        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#"><i class="fas fa-tv"></i> TV Shows</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <% var indexLink = "/index/" + userId; %>
                <li><a href=<%= indexLink %>>Most Popular <span class="sr-only">(current)</span></a></li>
                <% var favourites = "/favourites/" + userId; %>
                <li class="active"><a href=<%= favourites %>>My Favourites</a></li>
              </ul>
              <% var link = "/search/" + userId; %>
              <form action=<%= link %> method="POST" class="navbar-form navbar-left">
                <div class="form-group">
                  <input type="text" class="form-control" name="search" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
              </form>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="/"><i class="fas fa-sign-out-alt"></i> Sign Out</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Welcome, <strong><%= userId %></strong></a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>

        <div class="container">
            <% var a = 0; %>
            <% for (a = 0; a < data.length; a++) { %>
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-3">
                        <img class="thumbnail" src=<%= data[a]["image"] %>>
                    </div>
                    <div class="col-sm-7">
                        <h1><strong><%= data[a]["name"] %></strong></h1>
                        <h4><%= data[a]["network"] %></h4>
                        <br>
                        <br>
                        <strong>Duration:</strong> <%= data[a]["startDate"] %> - <% if (data[a]["endDate"] === null) { %> <%= data[a]["status"] %> <% } else { %> <%= data[a]["endDate"] %> <% } %>
                        <br>
                        <br>
                        <br>
                        <br>
                        <% var details = "/details/" + userId + "/" + data[a]["id"]; %>
                        <!-- <a href=<%= details %> class="btn btn-primary">More Details</a> -->
                        <% var favourites = "/favourites/" + userId + "/" + data[a]["id"]; %>
                        <!-- <a href=<%= favourites %> class="btn btn-primary">Add to Favourites</a> -->
                    </div>
                    <div class="col-sm-1"></div>
                </div>
                <hr>
            <% } %>
        </div>

        <div class="container" id="footnote">
            <hr>
            Made with Web Technologies and <i class="fas fa-heart"></i> by Utkarsh
            <br>
            Follow the code on <i class="fab fa-github"></i> <a href="http://www.github.com/utkarsh-raj">GitHub</a>
        </div>


    </body>
</html>